*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;	
}
html{
	scroll-behavior: smooth;
}
body::-webkit-scrollbar	{
    background-color: black;
}				
body::-webkit-scrollbar-thumb	{
    background-color: red;
    border-radius: 30px;
}
body{
    background-color: aquamarine;
}

header{
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:110px;
}

nav img{
    width: 250px;
}

nav div a{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 30px;
}

.conteiner{
    width: 1140px;
    margin: auto;
}

.Carta{
    width: 240px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: bisque;
}
.Carta img{
    width: 180px;
    margin-left: 30px;
    border-radius: 30px;

}
.Carta p{
    text-align: justify;
    font-weight: bold;
    
}
.carta-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section h2{
    margin-top: 30px;
    letter-spacing:20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}.letras{
    margin-top: 30px;
    text-align: justify;
    font-size: 20px;
}


.Carta:hover{
    transform: scale(1.05);
}
.persnajes{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.persnajes img{
    width: 200px;
}
.persnajes h3{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 600px) {
    body{
        width:100%;
    }
    .conteiner{
        width: 100%;
    }
    nav{
        flex-direction: column;
        height: 230px;
    }
    nav div{
        margin-bottom: 30px;
    }
    nav div a{
        margin-left: 0;
        display: flex;
    }
    .Carta{
        flex-direction: column;
        margin-left:90px ;
        width: 400px;
        padding: 0;
    }
    .Carta img{
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .carta-flex p{
        display: none;
    }
    section h2{
        text-align: center;
    }
    section p{
        text-align: justify;
        padding: 20px;
    }
    .persnajes{
        flex-direction: column; 
    }
    .persnajes div{
        margin: auto;
    }
}